body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

.container {
    background-color: #c3df24;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #1513ac;
}

p {
    font-size: 18px;
    color: #666;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
}
